@{
    ViewData["Title"] = "Home Page";
}
<div style="display:flex; flex-direction:row; justify-content: center;">
    <div class="row" style="width:50%;">
        <div class="col" style="border: 2px solid gray;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding-bottom:5px;
">
            <div class="text-center">
                <h2 class="display-4">Hello</h2>
                <p>Change action</p>
            </div>

            
            <div style="        display: flex;
                -ms-flex-direction: column;
                -webkit-flex-direction: column;
                flex-direction: column;
                -webkit-justify-content: center;
                justify-content: center;">

                <a asp-controller="Account" asp-action="Login" class="btn btn-primary" style="width: 200px; margin:2px auto;">Sign in</a>
                <a asp-controller="Account" asp-action="Register" class="btn btn-primary" style="width:200px; margin:2px auto;">Registration</a>
            </div>

        </div>
    </div>

</div>
